body {
	background-color: #fafad2;
	z-index: 1;
	width: 100%;
	position: relative;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;

}

header {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: auto;
}

header img {
	width: 50px;
	height: 50px;
}

.logo img {
	width: 50px;
	height: 50px;
}

#marque {
	font-family: 'Tangerine', cursive;
	font-weight: 700;
	font-size: 45px;
	margin: 0;
	width: 240px;
	height: 50px;
	text-align: center;
	border-bottom: 1px solid grey;
	margin-bottom: 25px;
}

nav {
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 15px;
}

.section1{
	background-image: url(../images/images-home/banner.jpg);
	background-size: cover;
	height: 100vh;
}

.section2 {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 35px;
}

.home_img {
	width: 45%;
	height: 60vh;
}

#homme {
	background-color: tomato;
}

#femme {
	background-color: red;
}

/**#marque {
	font-family: 'Tangerine', cursive;
	font-weight: 700;
	font-size: 45px;
	margin: 0;
	width: 80px;
	height: 50px;
}

header {
	top: 0px;
	background-color: white;
	width: 100%;
	height: 140px;
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	color: black;
	position: fixed;
	font-weight: bolder;
	text-decoration: none;
	z-index: 2;
}

.logo {
	position: fixed;
	z-index: 3;
	width: 100%;
	height: 150px;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.logo img {
	width: 50px;
	height: 50px;
}

.header_left {
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	justify-content: space-around;
	width: 75%;
}

.header_left ul  {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.header_left li {
	display: flex;
	justify-content: space-around;
}

.header_left a {
	display: flex;
	justify-content: space-around;
	text-decoration: none;
	color: black;
}

.header_left img {
	width: 50px;
	height: 50px;
	display: flex;
	order: 0;
}

.header_right {
	width: 25%;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
}

.header_right img {
	width: 25px;
	height: 25px;
	border: 2px solid black;
	border-radius: 50%;
	background-color: beige;
}

.sous-menu {
	color: black;
	list-style: none;
	visibility: hidden;
	position: absolute;
	width: 200px;
	top: 58%;
	right: -206%;

}

.sous-menu ul {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border: 1px black solid;
	padding: 5px;

}

.sous-menu ul a{
	font-size: 14px;
}

.box {
	position: relative;
	padding-bottom: 40px;
	margin-top: 40px;

}

.box:hover>.sous-menu {
	visibility: visible; 
}


.section1{
	background-image: url(../images/images-home/banner.jpg);
	background-size: cover;
	height: 100vh;
}

footer {
	width: 100%;
	height: 40px;
	bottom: 0px;
	position: fixed;
	border: 1px solid black;
	z-index: 2;
	background-color: white;
}

.box:hover>.sous-menu {
	visibility: visible; 
}

*/

